h3 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: pink;
  font-size: 50px;
}

*{
  text-align: center;
}

button{
  font-size: 40px;
}

h3{
  font-family: 'Source Sans Pro', sans-serif;

}

.submitButton{
  font-size: 15px;
}
